@page "{id:int}"
@model TP3.Pages.DeletePropertyModel

<form method="post">
    <p>Tem certeza de que deseja excluir esta propriedade?</p>
    <button type="submit">Confirmar Exclusão</button>
</form>
